.cart-box{
    border: 1px solid rgb(242, 245, 47);
    margin-right:0px;
    border-radius: 15px;
    width: 150%;
}
.welcome-style{
   color: rgba(44, 44, 44, 0.596);
    
}
.iteams{
    color: rgba(44, 44, 44, 0.596);
    text-align: start;
    padding-left: 110px;

}
/* Make it responsive */
@media only screen and (max-width:688px) {
    .cart-box{
        width: 100%;
    }
    
}
@media only screen and (min-width:689px) and (max-width: 991px){
    
    .cart-box{
        width: 100%;
    }
}